
@model ProyectoTransportesAndes.ViewModels.ViewModelLogin

@{
    ViewData["Title"] = "Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-lg-3 col-lg-offset-4">
            <div class="form-group">
                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-lg-push-5">
            <input type="submit" value="Entrar" class="btn btn-info" />
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-offset-4" style="margin-top:20px;">
        @Html.ActionLink("No se encuentra registrado? Registrese!", "Create", "Cliente")
    </div>
</div>
