@model ProyectoTransportesAndes.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Eliminar vehiculo</h4>
<a asp-action="Index">Volver a la lista</a>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unidades)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CapacidadCargaKg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CapacidadCargaKg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadPasajeros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadPasajeros)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="Id" class="form-control hidden" />
        <input type="submit" value="Eliminar" class="btn btn-info" />
    </form>
</div>
