@model IEnumerable<ProyectoTransportesAndes.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <p><b>@TempData["Error"]</b></p>
</div>

<div class="row" style="margin-top:50px;">
    <p>
        @Html.ActionLink("Ingresar vehículo", "Nuevo", new { }, new { @class = "btn btn-info" })
    </p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.Label("Matricula")
                </th>
                <th>
                    @Html.Label("Chofer")
                </th>
                <th>
                    @Html.Label("Cali")
                </th>
                <th>
                    @Html.Label("Marca")
                </th>
                <th>
                    @Html.Label("Modelo")
                </th>
                <th>
                    @Html.Label("Unidades")
                </th>
                <th>
                    @Html.Label("Carga")
                </th>
                <th>
                    @Html.Label("Consumo")
                </th>
                <th>
                    @Html.Label("Puerto")
                </th>
                <th>
                    @Html.Label("Tarifa")
                </th>
                <th>
                    @Html.Label("Seguro")
                </th>
                <th>
                    @Html.Label("Asegurador")
                </th>
                <th>
                    @Html.Label("Pasaj")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matricula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chofer.Leyenda)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unidades)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CapacidadCargaKg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConsumoKml)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VencimientoPermisoPortuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tarifa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VencimientoSeguro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpresaAseguradora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadPasajeros)
                        </td>
                        <td>
                            @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

