@model IEnumerable<ProyectoTransportesAndes.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Nuevo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unidades)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CapacidadCargaKg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadPasajeros)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadCargaKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPasajeros)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
