@model ProyectoTransportesAndes.ViewModels.ViewModelViaje

@{
    ViewData["Title"] = "SolicitarViaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        height: 500px;
        background-color: red;
        margin-bottom: 50px;
    }
    #Refresh {
        display: block;
        width: 50px;
        height: 40px;
        padding: 10px 0 10px 0;
        margin: 0 auto;
        background-color: #5cb85c;
        text-decoration: none;
        font: 15px Verdana, Sans-Serif;
        text-align: center;
        color: white;
        border-radius: 50px;
    }
    #Refresh a {
        color:white;
    }
</style>
<script>
    var map, infoWindow;
    var latitud,longitud;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.9033926, lng: -56.1637164 },
            zoom: 16
        });
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                latitud = position.coords.latitude;
                longitud = position.coords.longitude;
                infoWindow.setPosition(pos);
                infoWindow.setContent("poner direccion actual segun ubicacion");
                infoWindow.open(map);
                map.setCenter(pos);
                var input = document.getElementById('destino');
                var searchBox = new google.maps.places.SearchBox(input);
                //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input); // SI SE QUISIERA AGREGAR AL MAPA
                $.ajax({
                    url: '/api/ClienteAPI/CoordenadasClienteWeb',
                    type: "GET",
                    data: { 'latitud': position.coords.latitude, "longitud": position.coords.longitude },
                    dataType: "json",
                    traditional: true,
                    contentType: "aplication/json",
                    //success: function (data) {
                    //    if (data.status == "Success") {
                    //        alert(data.message);
                    //    }
                    //    else
                    //    {
                    //        alert("No success");
                    //    }
                    //},
                    //error: function () {
                    //    alert("error en la funcion");

                    //}
                });
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            handleLocationError(false, infoWindow, map.getCenter());
        }

        function addMarker(latitud,longitud,matricula,marca,modelo,chofer) {
            var coordenadas = { lat: latitud, lng: longitud };
            var marker = new google.maps.Marker({ position: coordenadas, map: map });
            infoWindowMarker = new google.maps.InfoWindow;
            var pos = {lat: latitud,lng: longitud};
            infoWindowMarker.setPosition(pos);
            var contentString = '<div><p>' + matricula + '</p><p>'+marca+" "+modelo+'</p><p>'+chofer+'</p></div>';
            infoWindowMarker.setContent(contentString);
            google.maps.event.addListener(marker, 'click', function () {
                infoWindowMarker.open(map, marker);
            });
        }
        @foreach (var item in Model.Vehiculos)
        {
            @:addMarker(@item.PosicionSatelital.Latitud,@item.PosicionSatelital.Longitud, "@item.Matricula", "@item.Marca", "@item.Modelo","@item.Chofer.Nombre"+" "+"@item.Chofer.Apellido");
        }

    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>

<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB08YiU7GpCk0RCQozZWxiIj3Ud3se0_Ec&callback=initMap&libraries=places"></script>

<hr />
<div>
    <div class="col-lg-4">
        <form asp-action="AgregarItem" asp-controller="Viaje">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(d => Model.TipoItem, Model.ListaTipoItem, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input asp-for="Item.Descripcion" class="form-control" placeholder="Descripcion" />
                <span asp-validation-for="Item.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Item.Imagen" class="form-control" placeholder="Imagen" />
                <span asp-validation-for="Item.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Item.Alto" class="form-control" placeholder="Alto(cm)" />
                <span asp-validation-for="Item.Alto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Item.Ancho" class="form-control" placeholder="Ancho(cm)" />
                <span asp-validation-for="Item.Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Item.Profundidad" class="form-control" placeholder="Profundidad(cm)" />
                <span asp-validation-for="Item.Profundidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Item.Peso" class="form-control" placeholder="Peso(kg)" />
                <span asp-validation-for="Item.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar Item" class="btn btn-success btn-block" />
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Item.Imagen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Item.Descripcion)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Viaje.Items.Count != 0)
                        {
                            @foreach (var item in Model.Viaje.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Imagen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @{
                                            var parms = new Dictionary<string, string>
                                                                                                                                    {
                                                                                                                                        { "itemId", item.Id.ToString() },
                                                                                                                                    };
                                        }
                                        <a asp-area="" asp-action="EditarItem" asp-controller="Viaje" asp-all-route-data="parms"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a asp-area="" asp-action="EliminarItem" asp-controller="Viaje" asp-all-route-data="parms"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                </tr>

                            }

                        }
                        else
                        {
                            <tr><td>@ViewData["Mensaje"]</td></tr>}
                    </tbody>
                </table>
            </div>

        </form>
        <form asp-action="SolicitarViaje">
            <div class="form-group">
                <label asp-for="ViajeMarcado">Desea marcar su destino?</label>
                <input asp-for="ViajeMarcado" class="form-control" id="viajeLibre" />
                <span asp-validation-for="ViajeMarcado" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <input asp-for="DireccionDestino" class="form-control hidden" id="destino" placeholder="Ingrese su destino" />
                    <span asp-validation-for="DireccionDestino" class="text-danger" id="mensajesDestino"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdViaje" class="form-control hidden" />
                <input type="submit" value="Solicitar" class="btn btn-info btn-block" id="solicitarViaje"/>
            </div>

        </form>
    </div>
    <div class="col-lg-8">
        <div id="map"></div>
        <div id="Refresh"><a href="#" title="Refrescar ubicacion"><span class="glyphicon glyphicon-refresh"></span></a></div>
    </div>


</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
