@model ProyectoTransportesAndes.Models.Peon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-info col-sm-6 col-sm-offset-3" style="margin-top:50px;">
    <div class="panel-heading">Usuario para eliminar</div>
    <div class="panel-body">
        <table class=" table table-responsive">
            <tbody>
                <tr>
                    <th scope="row">Calificación</th>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <th scope="row">Marca</th>
                    <td>@Html.DisplayFor(model => model.Apellido)</td>
                </tr>
                <tr>
                    <th scope="row">Unidades</th>
                    <td>@Html.DisplayFor(model => model.Documento)</td>
                </tr>
                <tr>
                    <th scope="row">Capacidad</th>
                    <td>@Html.DisplayFor(model => model.Telefono)</td>
                </tr>
                <tr>
                    <th scope="row">Capacidad</th>
                    <td>@Html.DisplayFor(model => model.Direccion)</td>
                </tr>
                <tr>
                    <th scope="row">Capacidad</th>
                    <td>@Html.DisplayFor(model => model.FNacimiento)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form asp-action="Delete" asp-controller="Peon">
        <input asp-for="Id" class="form-control hidden" />
        <div class="form-group">
            <input type="submit" value="Eliminar peón" class="btn btn-danger btn-block" />
        </div>
    </form>
</div>
